h1{
    text-align: center; color: blue;
}
table{
    width: 100%;
    
}
th{
    font-size: large;
    text-align:right;
   
}
td{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
   
   
}
li{
    font-size:larger;
    color: brown;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    
    background: rgb(191,109,201);
    background: radial-gradient(circle, rgba(191,109,201,1) 0%, rgba(246,124,244,1) 3%, rgba(201,139,208,1) 16%, rgba(152,135,236,1) 35%, rgba(116,175,215,1) 69%, rgba(95,110,223,1) 92%, rgba(66,19,237,1) 100%);
}

h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgreen;
    font-size: xx-large;
}
img1{
    width: 5%;
    height: 5%;
}