h1{
    text-align: center; color: blue;
}
h2{
    text-align: center;
    font-size: 30px;   
}
table{
    width: 100%;
   
}
h2{
text-align: center; color: rgb(57, 22, 209);
font-size: 30px;
}

h4{
    text-align: center;
     color: rgb(8, 255, 210);
     font-size: x-large;
}

h3{
    color: #000;
}
.tablee{
    width: 100%;
    border: 3px solid rgb(7, 247, 91);
}
th{
    font-size: large;
    text-align:right;
}
td{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
img{
    width: 20%;
    height: 20%;
}
.imggg{

    width: 70%;
    height: 75%;
}
.pe1{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    font-size: larger;
    color: rgb(45, 223, 223);
}
.pe3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}
.imagen {
    background-image: url(./img/1.jpg);
    width: 300px;
    height: 500px;
   
}
.imagen3 {
   background-image: url(./img/toonmecom_dccERIKA11.jpg); 
   width: 300px;
   height: 500px;
   
}
.imagen2 {
    background-image: url(./img/lua.jpg); 
    width: 300px;
    height: 500px;
       
}
p {
    text-align: center;
    font-size: xx-large
}
.td1{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center  
}
li{
    font-size:larger;

    color: brown;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h3a{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgreen;
    font-size: xx-large;
}
.img10{
    
    width: 250px;
    height: 250px;

}
.img11{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}
body{
    
    background: rgb(191,109,201);
    background: radial-gradient(circle, rgba(191,109,201,1) 0%, rgba(246,124,244,1) 3%, rgba(201,139,208,1) 16%, rgba(152,135,236,1) 35%, rgba(116,175,215,1) 69%, rgba(95,110,223,1) 92%, rgba(66,19,237,1) 100%);
}